<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amogus</title>
  <%- include("blocks/stylesheet-ref.ejs") -%>
</head>
<body bgcolor="#222226">
<div id="header" class="block">
  <%- include("blocks/header.ejs") -%>
  <!--    <p id="timer">00:00:000</p>-->
</div>
<div id="main-menu" class="block">
  <%- include("blocks/main-menu.ejs") -%>
</div>
<div id="contents" class="block">
  <div id="notfound" class="page" class="block">
    <p id="big-text">404: Not found</p>
  </div>
</div>
<!--<script src=js/main.js></script>-->
</body>
</html>
