<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amogus</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body bgcolor="#222226">
  <div id="header" class="block">
    <p id="headerName">AMOGUS MINIGAME</p>
    <p id="timer">00:00:000</p>
  </div>
  <div id="main-menu" class="block">
    <ul id="list-menu">
      <li id="li_start" onclick="on_start_clicked()">Play</li>
      <li id="li_records" ><a href="/records">Records</a></li>
      <li id="li_stop" onclick="on_stop_clicked()">Main menu</li>
    </ul>
  </div>
  <!-- <div id="fullpage"> -->
  <div id="contents" class="block">
    <div id="startbutton" class="page" class="block">
      <img id="image" src="pixmaps/start.png" onclick="on_start_clicked()" onmouseover="imageHover(this)" onmouseout="resetImage(this)">
    </div>
    <div id="game" class="page" class="block">
      <div class="buttonLine">
        <button id="pb0" class="pushButton" onclick="on_pb_clicked(this)">1</button>
        <button id="pb1" class="pushButton" onclick="on_pb_clicked(this)">2</button>
        <button id="pb2" class="pushButton" onclick="on_pb_clicked(this)">3</button>
        <button id="pb3" class="pushButton" onclick="on_pb_clicked(this)">4</button>
        <button id="pb4" class="pushButton" onclick="on_pb_clicked(this)">5</button>
      </div>
      <div class="buttonLine">
        <button id="pb5" class="pushButton" onclick="on_pb_clicked(this)">6</button>
        <button id="pb6" class="pushButton" onclick="on_pb_clicked(this)">7</button>
        <button id="pb7" class="pushButton" onclick="on_pb_clicked(this)">8</button>
        <button id="pb8" class="pushButton" onclick="on_pb_clicked(this)">9</button>
        <button id="pb9" class="pushButton" onclick="on_pb_clicked(this)">10</button>
      </div>
    </div>
    <div id="records" class="page" class="block">
      <table class="block" id="recordsTable" >
       <caption id="tableCaption">RECORDS TABLE</caption>
       <tr>
        <th>Place</th>
        <th>Date</th>
        <th>Score</th>
       </tr>
         <tr><td>34,5</td><td>3,5</td><td>36</td></tr>
         <tr><td>35,5</td><td>4</td><td>36⅔</td></tr>
         <tr><td>36</td><td>4,5</td><td>37⅓</td></tr>
         <tr><td>36,5</td><td>5</td><td>38</td></tr>
         <tr><td>37</td><td>5,5</td><td>38⅔</td></tr>
         <tr><td>38</td><td>6</td><td>39⅓</td></tr>
         <tr><td>38,5</td><td>6,5</td><td>40</td></tr>
         <tr><td>39</td><td>7</td><td>40⅔</td></tr>
         <tr><td>40</td><td>7,5</td><td>41⅓</td></tr>
         <tr><td>40,5</td><td>8</td><td>42</td></tr>
         <tr><td>41</td><td>8,5</td><td>42⅔</td></tr>
         <tr><td>42</td><td>9</td><td>43⅓</td></tr>
         <tr><td>43</td><td>9,5</td><td>44</td></tr>
         <tr><td>43,5</td><td>10</td><td>44⅔</td></tr>
         <tr><td>44</td><td>10,5</td><td>45⅓</td></tr>
         <tr><td>44,5</td><td>11</td><td>46</td></tr>
         <tr><td>45</td><td>11,5</td><td>46⅔</td></tr>
         <tr><td>46</td><td>12</td><td>47⅓</td></tr>
         <tr><td>46,5</td><td>12,5</td><td>48</td></tr>
         <tr><td>47</td><td>13</td><td>48⅔</td></tr>
         <tr><td>48</td><td>13,5</td><td>49⅓</td></tr>
      </table>
    </div>
    <div id="result" class="page" class="block">
      <div id="result-window" class="block">
        <div id="hat-window" class="block">
          <p id="headerName">Result</p>
          <a href="/" id="closeButton" >✖</a>
        </div>
        <div id="body-window" class="block">
          <p id="window-text">59:59:9999</p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> onclick="on_start_clicked()"  onclick="on_records_clicked()"-->
  <!-- <div class="hystmodal" class="block" id="myModal">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog">
          <h1>Result</h1>
          <p>Текст модального окна ...</p>
          <img src="pixmaps/record.png" alt="Изображение"/>
          <button data-hystclose class="hystmodal__close" onclick="on_pushButton_close()">Ok</button>
        </div>
    </div>
</div> -->

  <!-- <div class="test"><img src="" alt="test"></div> -->
  <script src=js/main.js></script>
</body>
</html>
